IdeasOnUI.txt
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/

*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/

xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

.swiftpm/xcode/
.swiftpm/package.xcworkspace
Packages/
Package.resolved

Pods/
Carthage/Build/

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

*.log
*.tmp
*.swp
*.orig

.env
.env.*
*.plist
!Info.plist

.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

*.zip
*.tar
*.tar.gz
*.rar

*.usdz
*.reality
*.scnassets/
Assets.xcassets/**/Models/
